html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
  padding-left: 240px;
  transition: padding 0.4s ease 0s;
}

#content-wrapper {
  width: 100%;
  background: #DDDDDD;
}

#sidebar-wrapper {
  margin-left: -240px;
  left: 240px;
  width: 240px;
  background: #363A47;
  color: #747d93;
  position: fixed;
  height: 100%;
  transition: padding 0.4s ease 0s;
}

#sidebar-wrapper,
#content-wrapper,
#wrapper {
  height: 100%;
}

#sidebar-wrapper a {
  color: #989FB5;
}

#sidebar-wrapper header p {
  margin: auto 25px 25px;
}

#sidebar-wrapper nav {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 260px;
}

#sidebar-wrapper nav .list-group {
  overflow: auto;
  height: 100%;
  width: 100%;
}

#sidebar-wrapper header #logo img {
  margin: 20px 0;
}

#sidebar-wrapper header,
#sidebar-wrapper footer {
  width: 100%;
  text-align: center;
  background-color: #363A47;
}

#sidebar-wrapper header {
  top: 0;
}

#sidebar-wrapper footer {
  bottom: 0;
  padding: 10px 0;
  font-size: 13px;
  position: absolute;
}

#sidebar-wrapper footer a {
  padding-left: 5px;
  padding-right: 5px;
}

#sidebar-wrapper .list-group-item {
  background-color: #272A32;
  border-color: #21242B;
  color: inherit;
  border: none;
  padding: 10px 25px;
}

#sidebar-wrapper .list-group-item:hover,
#sidebar-wrapper .list-group-item:focus,
#sidebar-wrapper .list-group-item.active {
  background-color: #21242B;
  border-color: #FD2922;
  color: #CCCFDC;
}

#sidebar-wrapper .list-group-item.brand {
  color: white;
  font-size: 16px;
  font-weight: 200;
  background-color: #494F60;
  border-left: 5px #ec503b solid;
  padding: 15px 20px;
  text-align: left;
}

#sidebar-wrapper .list-group-item > .badge,
#sidebar-wrapper .list-group-item.active > .badge {
  color: inherit;
  background-color: #3B4050;
  font-weight: 200;
  font-size: 16px;
}

#sidebar-wrapper .list-group-item:first-child,
#sidebar-wrapper .list-group-item:last-child {
  border-radius: 0;
}

#sidebar-wrapper .badge {
  padding: 4px 10px;
  border-radius: 30px;
}

#map-canvas {
  width:100%;
  height:100%;
}

div.startup {
  font-family: 'Source Sans Pro', sans-serif !important;
}

div.startup .heading h4 a {
  color: #ED5B48;
  text-decoration: none;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
}

div.startup .heading h4 small {
  color: #6D6E71;
  text-transform: capitalize;
  font-size: 15px;
}

div.startup .body p {
  color: #636467;
  font-size: 15px;
}

div.startup hr {
  margin: 10px 0;
}

.atss {
  top: 60%;
}

.addthis_toolbox {
  margin: 0 40px 5px;
  text-align: center;
}



@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

}
